################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alexa.Azure.HomeAutomation/Alexa.Skill/bin/Debug/netcoreapp2.0
/Alexa.Azure.HomeAutomation/Alexa.Skill/obj/Debug/netcoreapp2.0
*.suo
/Alexa.Azure.HomeAutomation/Alexa.Skill/obj
/Alexa.Azure.HomeAutomation/.vs/config
/Alexa.Azure.HomeAutomation/Alexa.Skill/bin/Release/netcoreapp2.0
/Alexa.Azure.HomeAutomation/.vs/Alexa.Azure.HomeAutomation
